@model TestWithAutofac.Handlers.Home.Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        Handler created at @Model.Now
    </div>
</body>
</html>